*{  margin:0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

.containerEnter{
    margin-top: 20px;
    margin-right: 10px;
}
.leter-form{
    margin-left: 10px;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #828282;   
    padding-bottom: 25px;
}
.formulario{
    position: absolute;
    width: 337.41px;
    height: 441px;
    margin-left: 40px;
    top: 180px;
    background: #F2F2F2;
    border-radius: 10px;
}   
.forms{
    position: absolute;
    width: 200px;
    height: 28.55px;
    left: 122.88px;
    background:rgba(196, 196, 196, 0.45);
}
.btn-send{
    margin-left:135px;
    width: 50%;
    height: 45px;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Shadows Into Light Two', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
    cursor: pointer;
    background: #FF8000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px; 
}
.redes{
    width: 278.88px;
    height: 49.71px;
    left: 54px;
    top: 420px;
    background: #FF8000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Shadows Into Light Two', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #F2F2F2;
}
.red-img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-bottom: -7px;

}
.mostrar{
    position: absolute;
    background: #f2f2f2;
    width: 329px;
    height: 127px;
    display: grid;
    margin-left: 45px;
}
.inputForm{
    display: flex;
    float: right;
    border: none;
    width: 199px;
    height: 28px;
    background: rgba(196, 196, 196, 0.45);
    
}

.leter{
    margin-left: 10px;
    font-family:'Sarala', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    float: left;
    align-items: center;
    color: #828282;   
}
#btnSignInUser{
    margin-top: 80px;
}
.logo{
    cursor: pointer;
    margin-left:100px;
    margin-bottom: 0px;
    resize: unset;
}
.btns{
    margin-left:100px;
    width: 50%;
    height: 55px;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Shadows Into Light Two', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
    cursor: pointer;
    background: #FF8000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}
.btns:hover{
    cursor: pointer;
    color:white;
    background-color:black ;
}
.text{
    display: flex;
    font-family: 'Sarala', sans-serif;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    color: #828282;
    margin-bottom: 30px;
    font-size: 18px;
}
.menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
    align-items: flex-end;
    padding-right: 50px;
}
.nav{
    flex-direction: row;
    justify-content: center; 
    background:  #FF8000;
    align-content: space-around ;

}
.barra{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
}

.search{
    width: 100%;
    height: 34px;
    background: #FF8000;
    border-radius: 20px;
    border: none;
    text-align: end;
    color: white;
    

}
::placeholder{
    color:white;
}
main{
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    min-height: 60vh;
    flex-wrap: wrap;
    background-attachment: scroll;
   
    
}
#ingreso-post{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

.lista-publicaciones{
    background-attachment: scroll;
}


.opciones-footer{
  width: 30%;
  flex-wrap: wrap;
}
.footer-color{
    align-self: flex-end;
    background-color: #FF8000;
    line-height: 3;
    text-align: center;
  

}
.img-header{
   width: 60px;
   padding: 15px;
   
}
#cerrar-sesion{
    float: right;
}

.fondo-avatar {
    background-color: #dfdbdb;
    border-radius: 50%;
    width: 30%;
    
  
}
.imagen-tamaño{
    width: 50px;
    height: 50px;
}
.formulario-post{

    width: 100%;
    margin: auto;
    background: #fff2e5;
    padding: 10px 30px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
    background: #ffffff;
 }
 .textarea {
    margin-top: 20px;
    min-width: 20%;
    height: 20%;
    min-height: 70px;
    max-height: 70px;
    width: 70%;

 }
 .root{
    margin-left: 20%;
    margin-right: 20%;
}


  @media (min-width: 900px) and (max-width: 2600px) {
 
.btns {
    width: 30%;
    margin-left: 52%; 
    height:55px;
    
}
.text {
    display: flex;
    float: initial;
    width: 33%;
}
.time-service{
    display: flex;
    width: 50%;
    float: left;

}
.logo{
    margin-left: 60%;

}
.mostrar{
    margin-left: 55%;
}
.muro{
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
}
.encabezado{
    width: 30%;
}
.btnCloseSession{
    float: right;
}
.barra{
    float: right;
}
  }
  

  #mostrar-modal, #confirm-eliminar, #publicar {
    border: none;
    height: 35px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 100ms ease;
  }
  #mostrar-modal, #confirm-eliminar {
  margin-left: 30%;
  background: #f3ad7e;
  color: #f2f2f2;

}
 
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }